data/boiler/
data/mimic3/
data/epilepsy/
data/FreezerRegularTrain/
data/mimic3/
data/PAM/
data/Wafer/
data/hmm/
data/switchstate/
generator/mimic3/
*.csv
plot/
results_gate/
results_our/
results_pred/
results_mimic/
results_pred_avg/
model/
__pycache__/
synthetic/switchstate/data/
lightning_logs/
model_zero/
model_prev/
*.zip
motif/
simulated_data_l2x/
others/
results/